.ngr-klient-auswahl {
    color: white;
    background-color: #444;
    height: 100%;
    width: 200px;
    position: absolute;
    top: 0;
    right: 0;
    padding-top: 50px;
    transition: right ease-in-out 0.25s;
    overflow-x: hidden;
    box-shadow: -20px 0 100px black;
}
.ngr-klient-auswahl.collapsed {
    right: -200px;
    transition: right ease-in-out 0.25s;
    box-shadow: none;
}