.ngr-klient-auswahl-toggle {
    position: absolute;
    width: 50px;
    height: 50px;
    z-index: 1010;
    background-color: teal;
    top: 0;
    right: 0;
}

.ngr-klient-auswahl-toggle a i { 
    font-size: 16pt;
    margin: 15px;
    color: #eee;
}

.ngr-klient-auswahl-toggle:hover {
    background-color: #009688;
}
.ngr-klient-auswahl-toggle:hover a i {
    color: white;
}