.ngr-dokumentation-auswahl {
    color: white;
    background-color: #444;
    height: 100%;
    width: 200px;
    z-index: 500;
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 50px;
    transition: left ease-in-out 0.25s;
    overflow-x: hidden;
    box-shadow: 20px 0 100px black;
}
.ngr-dokumentation-auswahl.collapsed {
    left: -200px;
    transition: left ease-in-out 0.25s;
    box-shadow: none;
}