.ngr-dokumentation-auswahl {
    color: white;
    background-color: #222;
    height: 100%;
    width: 250px;
    z-index: 500;
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 50px;
    transition: left ease-in-out 0.25s;
    overflow-x: hidden;
    box-shadow: 20px 0 100px black;
}
.ngr-dokumentation-auswahl.collapsed {
    left: -250px;
    transition: left ease-in-out 0.25s;
    box-shadow: none;
}
ul {
list-style: none;
    padding: 0;
    margin: 0;
}
li {
    height: 40px;
    box-sizing: border-box;
}
li:hover, li a.active {
    color: white;
    background-color: #444;
}
li a {
    text-decoration: none;
    color: #eee;
    font-family: "Segoe UI", sans-serif;
    font-size: 16pt;
    line-height: 40px;
    display: inline-block;
    padding: 0 8px;
    width: 100%;
}